<footer style="
  padding: 20px;
  background-color: #f8f8f8;
  border-top: 1px solid #ddd;
  flex-wrap: wrap;
  font-size: small;
  
">
    <div style = "
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    ">
        <span>by Abhay</span>

        <a href="https://github.com/AbhayPatil2004" target="_blank"
            style="text-decoration: none; color: #000; display: flex; align-items: center; gap: 5px;">
            <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub"
                style="width:20px; height:20px;">
            GitHub
        </a>

        <span>&copy; All rights reserved Blogify</span>
    </div>
</footer>